__pycache__/
*.sif
wandb/
.conda/
electrolyte-fm/
lightning_logs/
.venv/

# Log files
*.o*
*.e*

# Checkpoints
*.ckpt/
*.ckpt
mist/

# NSight
*.nsys-rep
*.sqlite
*.qdstrm

# Dataset
.cache/

# Spack
.spack-env/
spack.lock
