#!/bin/bash
{%- from "./utils.j2" import cliopts, export_env %}
#SBATCH -p {{ queue or "venkvis-debug" }}
#SBATCH --nodes {{ nodes or 1 }}
#SBATCH --ntasks-per-node {{ gpus_per_node or 2 }}
#SBATCH --gpus-per-node {{ gpus_per_node or 2 }}
#SBATCH --time {{ walltime or "0:30:00" }}
#SBATCH --cpus-per-task 16
#SBATCH --mem-per-cpu 2G
#SBATCH --gpu_cmode=shared
{%- if resubmit %}
#SBATCH --signal=SIGUSR1@90
{%- endif %}

# Training script for h001
my_job_header
set -ex

# Move to git root
cd $(git rev-parse --show-toplevel)

# Activate Environment
module purge
module --ignore_cache load spack/0.21 python/3.11.5 cuda/12.2 openmpi/4.1.6
source ./activate

# Set env variables
{{- export_env( env ) }}

# Job local tmpdir
export TMPDIR=$(mktemp --directory --tmpdir --suffix=".${USER}.${SLURM_JOB_ID}")
srun mkdir -p "$TMPDIR"
trap 'srun rm -rf -- "$TMPDIR"' EXIT

{%- if deepspeed is defined %}
# Write out deepspeed config
cat > $TMPDIR/deepspeed.json<<EOF
{{ deepspeed | tojson(indent=4) }}
EOF
export PL_DEEPSPEED_CONFIG_PATH="$TMPDIR/deepspeed.json"
export DEEPSPEED_CONFIG=$(cat $PL_DEEPSPEED_CONFIG_PATH)
{%- endif %}

# Record configuration
echo "########################################"
JOB_CONFIG='
{{ __config__ | tojson(indent=4) }}
'
echo "$JOB_CONFIG"
echo "########################################"

srun --mpi=pmix \
${PWD}/submit/set_node_rank \
{%- if nsys is defined %}
nsys profile \
      {{- cliopts( nsys ) | indent }} \
{%- endif %}
    python3 train.py fit \
    {{- cliopts( train ) | indent }}
