#!/bin/bash
{%- from "./cliopts.j2" import cliopts %}

# Training script for h001
set -e

# Move to git root
export PBS_O_WORKDIR=$(git rev-parse --show-toplevel)
cd ${PBS_O_WORKDIR}

# Activate Environment
source activate

{%- if nsys is defined %}
nsys profile \
      {{- cliopts( nsys ) | indent }} \
{%- endif %}
mpiexec \
    {{- cliopts( mpiexe ) | indent }} \
    python3 train.py fit \
    {{- cliopts( train ) | indent }}
